/* Nova Card CSS */
.fixed-html-card::-webkit-scrollbar {
    width: 5px;
}

.fixed-html-card:hover::-webkit-scrollbar-track {
    background: #EEF1F4;
}

.fixed-html-card:hover::-webkit-scrollbar-thumb {
    background-color: #7C8592;
    border-radius: 2px;
}

.max-h-\[128px\] {
    max-height: 128px
}
